# 1. Ignorar TODO por defecto
*

# 2. Permitir carpetas (para que Git pueda ver dentro)
!*/

# 3. ¡IMPORTANTE! Volver a ignorar la carpeta .vscode
.vscode/

# 4. Permitir TU ADDON (RikoCraft)
!development_behavior_packs/RikoCraft/**
!development_resource_packs/RikoCraft/**

# 5. Permitir este archivo
!.gitignore